<!-- mt-auto fixs at bottom anf footer makes it a navbar -->
<footer class="footer bg-dark py-3 text-secondary mt-auto">
    <div class="container">
        <span>YelpCamp 2021</span>
    </div>
</footer>