/* body font for entire webpage */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* Form Image Selector Editing */
#imageSelector::before {
    content: "Pick Images";
    position: absolute;
    z-index: 2;
    display: block;
    background-color: #eee;
    width: 90px;
}

/* Map editings  */
#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}