<% layout('layouts/boilerplate.ejs') %>
<!--Register page for user-->
<div class="row">
    <div class="col-6 offset-3">

        <h1>Register</h1>
        <form action="/register" method="POST" class="validated-form" novalidate>
            <!--Username field-->
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <!-- Email field -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <!-- Password field -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <button class="btn btn-success">Register</button>
        </form>
    </div>
</div>